@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-size: 16px;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.hamburguer span{
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(23, 18, 111, 0.836);
  color: #ffffff;
  font-family: "Josefin Sans",serif;
  font-size: 1.2rem;
  opacity: 0;
  transition: all 0.3s;

}
.hamburguer span::before{
  content: "";
  position: absolute;
  border-right: .5rem solid rgba(23, 18, 111, 0.836);
  border-top: .5rem solid transparent;
  border-left: .5rem solid transparent;
  border-bottom: .5rem solid transparent;
  left: -1rem

}
.show-menu .hamburguer:hover span{
  opacity: 1;
}
.hamburguer{
  /* background-color: rgb(155, 0, 0); */
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.hamburguer:active{
  transform: scale(1.09);

}
.line{
  width: 30px;
  background-color: rgb(255, 255, 255);
  height: 0.01rem;
  box-shadow: 0.1rem 0.1rem 1px #000000ef;
  transition: transform 1.09s;
}
.show-menu #line:nth-child(1){
  transform: rotate(43deg) translate(.482rem, .45rem);

}
.show-menu #line:nth-child(3){
 transform: rotate(-45deg) translate(.325rem, -.45rem);
}
.show-menu #line:nth-child(2){
  opacity: 0;
  visibility: hidden;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.898);
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 100s 
}
@keyframes zoom{
  0%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

.img-eu{
  padding-right: 85%;
  width: 10rem;
}
.img-eu img{
  width: 100%;
  height: 100%;
}

.banner{
    position: absolute;
    top: 30%;
    left: 8%;
    right: 8%
    /* animation: mover 2s; */
}

.banner h1{
    color: #ffffff;
    font-size: 2rem;
    font-family: "Baloo 2",serif;
    font-weight: 600;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.72);
    line-height: 3.5rem;
    margin-bottom: 1rem;
    animation: mover 1.5s;
}
.banner p{
    color: #ffffff;
    font-size: 1.5rem;
    font-family: "Josefin Sans",serif;
    font-weight: 400;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.72);
    line-height: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    animation: mover 1.8s;
}
.banner-img{
  animation: sumir 1.5s ;
}

.banner button{
  font-family: "Josefin Sans",serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(23, 18, 111) 0%, rgb(7, 108, 128) 100%);  
  padding: 1rem 2rem;
  border-radius: 4px;
  border-style: none;
  animation: mover 2.1s;
}
.banner button:hover{
  transform:scale(1.09);
  transition: 0.65s;
  cursor: pointer;
}
.banner button:active{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(23, 18, 111, 0.836) 0%, rgba(7, 108, 128, 0.664) 100%);  
  padding: 1rem 2rem;

}

@keyframes mover{
  0%{
    transform: translateY(30rem)
  }
  100%{
    transform: scale(1rem);
  }
}
@keyframes sumir{
  0%{
    transform: translateY(30rem);
    opacity: 0;
  }
  100%{
     opacity: 1;
  }
}

.sidebar{
  width: 20rem;
  height: 100vh;
  background-color: #ffffff;
  position:fixed;
  top: 0;
  right:-20rem;
  transition: all 0.6s;
}
.show-menu .sidebar{
  right: 0;
  
}

.show-menu .hamburguer{
  right: 16rem;
}

.menu{
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
}

.menu-item{
  text-align: left;
  margin-bottom: 1.5rem;
}

.menu-link{
  font-family: "Josefin Sans",serif;
  font-size: 1.6rem;
  color: #1a1a1a;
}
.menu-link:hover{
  color: rgba(23, 18, 111, 0.836);
  text-shadow: 0.11rem 0.11rem 1px rgb(0 0 0 / 72%);
  transition: all 0.2s;
} 
/* .menu-link-word:hover{
  
}  */

.social-media{
  position:absolute;
  bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.social-media i{
  color: #1a1a1a;
  width: 1.5rem;
  height: 2.5rem;
  display: flex;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media i:hover{
  color: #0000ff;
  transition: all ;
  transition: 0.4s;
  /* transition: ease-out ;
  transition: 0.4s; */
  transform: translateY(-3%);
}
